 body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 16px;
    line-height: 18px;
    text-align: justify;

    background-image: url("gracie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
